<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#"><img src="assets/acme.png" class="logo"></a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav" role="tablist">
      <li class="nav-item">
        <a class="nav-link active btn btn-lg" href="#pills-home" role="tab">
          Daily Teammate Schedule
        </a>
      </li>
    </ul>
  </div>

  <div class="dropdown show float-right">
    <a class="dropdown-toggle help_text" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-question-circle"></i>
      Help
    </a>
  </div>
</nav>

<div class="container-fluid content">
  <router-outlet></router-outlet>
</div> 

