.nav-item, .nav-link {
    background-color: #e7e7e7 !important;
    height: 60px;
}

.logo {
    height: 50px;
    width: auto;
}

.navbar {
    background-color: #f8f8f8 !important;
    height: 60px;
}

.help_icon {
    width: 10px;
    height: 10px;
    color: #cccccc;
}

.help_text {
    color: #cccccc;
}
